.person-window{
	margin: 0px;
    position: fixed;
    top: 0px;
    margin: 0 30%;
    width: 30%;
    /* height: 200px; */
    z-index: 10000;
    /* float: right; */
    /* left: 30%; */
    display: block;
    min-width: 250px;
}

.person-window .b8{
	position: static;
	background: transparent;
}

.person-window .J-J5-Ji{
	position: static;
    display: block;
}

.person-window .vh{
	/*height: 150px;*/
    position: static;
    background: white  !important;
	border: 1px solid black !important;
	padding: 0px !important;
}

.person-window .panel-default .panel-heading{
	padding: 5px;
	background: gray;
	text-align: left;
	border-bottom: 1px solid black;
}