<div class=" G-atb D E" ng-click="click()"
	style="margin: 0;padding: 0px;border: 0px;width: 80px;float: left;z-index: 10000;">
	<div class="G-Ni J-J5-Ji" >
		<div 
			class="T-I J-J5-Ji ar7 nf T-I-ax7 L3" 
			role="button" tabindex="0" 
			aria-haspopup="false" 
			aria-expanded="false" 
			data-tooltip="Person"
			style="-webkit-user-select: none;">
			<span class="Ykrj7b">person</span>
		</div>
	</div>
</div>