<div ng-show="isShow" class="nH person-window">
	<div class="b8 UC" aria-live="assertive" aria-atomic="true" role="alert" >
		<div class="J-J5-Ji">
			<div class="UD"></div>
			<div class="vh">
				
				<div class="panel panel-default">

					<div style="text-align: left;" class="panel-heading">Person</div>

					<div class="panel-body">
						<table style="width: 100%;">
							
							<tr>
								<td style="text-align: right;"><label for="inputEmail3" class="col-sm-2 control-label"> name </label></td>
								<td>
									<button
										ng-click="fillData('name')" 
										type="button" class="btn btn-primary"> > </button>
								</td>
								<td style="width: 80%;">
									<input style="width: 98%;" ng-model='data.name' class="form-control" placeholder="textbox">
								</td>
							</tr>

							<tr>
								<td  style="text-align: right;"><label for="inputEmail3" class="col-sm-2 control-label"> address </label></td>
								<td>
									<button
										ng-click="fillData('address')" 
										type="button" class="btn btn-primary"> > </button>
								</td>
								<td style="width: 80%;">
									<input style="width: 98%;" ng-model='data.address' class="form-control" placeholder="textbox">
								</td>
							</tr>

							<tr>
								<td  style="text-align: right;"><label for="inputEmail3" class="col-sm-2 control-label"> dob </label></td>
								<td>
									<button
										ng-click="fillData('dob')" 
										type="button" class="btn btn-primary"> > </button>
								</td>
								<td style="width: 80%;">
									<input style="width: 98%;" ng-model='data.dob' class="form-control" placeholder="yyyy-mm-dd">
								</td>
							</tr>

							<tr ng-show="getIsError()">
								<td></td>
								<td></td>
								<td style="text-align: left;">{{error}}</td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td style="text-align: left;">
									<button ng-click="save()" type="button" class="btn btn-default">save</button>
									<button ng-click="isShow=!isShow" type="button" class="btn btn-default">close</button>
								</td>
							</tr>

						</table>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>